#mvName
{
width:80%;
height: 30px;
font-size: 20px;
}

#startSearch
{
  width:15%;
  height: 36px;
  font-size: 20px;
}

#container
{
  margin-top: 20px;
}

table
{
  width:80%;  
}

td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
tr:nth-child(2n) {
  background: #e8edff;
}

tr:hover td {
  background: #ccddff;
}
